#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 15px;
<<<<<<< HEAD
    margin-top: -15px;
=======
>>>>>>> f22163037563c515b639a40404d7e2e092d22e76
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen-main {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
<<<<<<< HEAD
    border-top: var(--main-border);
=======
    border-top: 1px solid rgba(0, 0, 0, 0.2);
>>>>>>> f22163037563c515b639a40404d7e2e092d22e76
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
<<<<<<< HEAD
}
=======
}
>>>>>>> f22163037563c515b639a40404d7e2e092d22e76
